<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.sourcey.materiallogindemo.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.sourcey.materiallogindemo.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sourcey.materiallogindemo.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name="com.sourcey.materiallogindemo.SignupActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.Dark" />
        <activity
        android:name="com.sourcey.materiallogindemo.PrivacyActivity"
        android:windowSoftInputMode="stateAlwaysHidden"
        android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.sourcey.materiallogindemo.PasswordActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.sourcey.materiallogindemo.StartActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.sourcey.materiallogindemo.BoardActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.Dark" />
    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE"/>

</manifest>
